<section class="contact mx-auto py-5">
  <div class="py-5">
    <h2 class="text-uppercase fw-bolder fs-1 mb-3 pt-5 text-center">Contact section</h2>
    <app-star color="#2c3e50" bgColor="#2c3e50"></app-star>

    <div class="container-fluid">
      <form class="mx-auto mt-5">
        <div class="mb-5 position-relative">
          <input
            type="text"
            class="form-control border-0 border-bottom border-bottom-2"
            id="username"
            placeholder="userName"
          />
          <label for="username" class="custom-label">userName:</label>
        </div>
        <div class="mb-5 position-relative">
          <input
            type="text"
            class="form-control border-0 border-bottom border-bottom-2"
            id="userAge"
            placeholder="userAge"
          />
          <label for="userAge" class="custom-label">userAge:</label>
        </div>
        <div class="mb-5 position-relative">
          <input
            type="text"
            class="form-control border-0 border-bottom border-bottom-2"
            id="userEmail"
            placeholder="userEmail"
          />
          <label for="userEmail" class="custom-label">userEmail:</label>
        </div>
        <div class="mb-4 position-relative">
          <input
            type="text"
            class="form-control border-0 border-bottom border-bottom-2"
            id="userPass"
            placeholder="userPassword"
          />
          <label for="userPass" class="custom-label">userPassword:</label>
        </div>

        <a class="btn text-start">send Message</a>
      </form>
    </div>
  </div>
</section>
