<footer class="text-center pt-4">
  <div class="container py-5">
    <div class="row gy-4 py-4">
      <div class="col-md-4">
        <div class="inner location">
          <h3 class="text-uppercase">Location</h3>
          <p class="mb-3">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h3 class="text-uppercase mb-3">about the web</h3>
          <div class="sociaal-icons d-flex flex-wrap justify-content-center align-items-center">
            <span class="border border-1 rounded-circle p-2 border-white mx-1"
              ><i class="fa-brands fa-facebook"></i
            ></span>
            <span class="border border-1 rounded-circle p-2 border-white mx-1"
              ><i class="fa-brands fa-twitter"></i
            ></span>
            <span class="border border-1 rounded-circle p-2 border-white mx-1"
              ><i class="fa-brands fa-linkedin-in"></i
            ></span>
            <span class="border border-1 rounded-circle p-2 border-white mx-1">
              <i class="fa-solid fa-globe"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h3 class="text-uppercase">about freelancer</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-white py-4">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
